---
interface Props {
	heading: string;
	content: string;
	button1Label: string;
	button1Link: string;
	button1Color: "button-purple" | "button-amber" | "button-teal";
	button2Label: string;
	button2Link: string;
	button2Color: "button-purple" | "button-amber" | "button-teal";
	image: {
		src: string;
		altText: string;
		width: number;
		height: number;
	};
}

import { Image, getImage } from "astro:assets";

const {
	heading,
	content,
	button1Label,
	button1Link,
	button1Color = "button-purple",
	button2Label,
	button2Link,
	button2Color = "button-teal",
	image,
} = Astro.props;
---

<section class="bg-offwhite-500 w-full py-8" id="block-home-hero">
	<div class="container mx-auto px-4">
		<div class="flex flex-wrap items-center lg:my-10">
			<div class="mb-8 flex w-full flex-col items-stretch justify-between gap-8 px-4 md:mb-0 md:w-1/2">
				<h1 class="heading-one animate-fadeInUp font-medium lg:text-7xl">{heading}</h1>
				<p class="text-dark-gray-950 mb-6 max-w-lg select-none font-work-sans text-lg leading-loose">
					{content}
				</p>
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
					<a href={button1Link} class={`${button1Color} h-12`}>{button1Label}</a><a
						href={button2Link}
						class={`${button2Color} h-12`}>{button2Label}</a
					>
				</div>
			</div>
			<div class="w-full px-4 md:w-1/2">
				<Image
					src={image.src}
					loading="eager"
					height={image?.height}
					width={image?.width}
					alt={image.altText}
					class="img-base animate-fadeInLeft"
				/>
			</div>
		</div>
	</div>
</section>
