---
import { Image } from "astro:assets";

import type { FlattenedPost } from "@lib/wordPressAPI.types";
import { formatDate } from "@lib/functions";

interface Props {
	post: FlattenedPost;
	category: string;
}

const { post, category } = Astro.props;

import defaultImage from "../../../assets/images/stock/headless-wordpress-blogging-stock.jpg";
---

<div class="mb-6 w-full animate-fadeInUp">
	<div class="flex h-full flex-wrap overflow-hidden rounded-md bg-white shadow-lg">
		<div class="w-full md:w-5/12 lg:w-full xl:w-5/12">
			<div class="relative h-full">
				<a href={post?.uri} class="block h-full opacity-75 hover:opacity-100">
					{
						post?.featuredImage?.url ? (
							<Image
								src={post.featuredImage.url}
								alt={post.featuredImage?.altText || "Writing before blogs."}
								width={600}
								height={400}
								class="h-full w-full object-cover"
							/>
						) : (
							<Image
								src={defaultImage}
								alt="Writing before blogs."
								width={600}
								height={400}
								class="h-full w-full object-cover"
							/>
						)
					}
				</a>
			</div>
		</div>
		<div class="w-full px-8 py-6 md:w-7/12 lg:w-full xl:w-7/12">
			<div class="mb-3">
				<span class={`inline-block rounded-sm bg-opacity-75 py-1 text-xs font-medium uppercase`}>
					{category}
				</span>
			</div>
			<h3 class="font-heading mb-3 font-semibold leading-tight hover:text-purple-400">
				<a href={post?.uri}>{post?.title}</a>
			</h3>
			<p class="font-body mb-3" set:html={post?.excerpt} />
			<a href={post?.uri} class="text-sm font-bold text-purple-600 hover:text-purple-400"> Read more </a>
			<div class="mt-auto flex w-full items-center justify-end border-t py-3 text-xs text-gray-600">
				<p>{formatDate(post?.date, "readable")}</p>
			</div>
		</div>
	</div>
</div>
