---
import { allWordPressPages } from "@lib/store";

import PrimaryLayout from "@components/layouts/primary-layout.astro";
import PortfolioCard from "./_components/PortfolioCard.astro";

const portfolioCardsData = [
	{
		portfolio: `Development`,
		description: `I build websites and web applications. My primary technologies are
        TypeScript, Astro, React, and Tailwind CSS.`,
		link: `/development/`,
	},
	{
		portfolio: `Blog`,
		description: `Writing was my first love. I'm interested in topics in blockchain, digital marketing, and web development.`,
		link: `/blog/`,
	},
];

const pageData = allWordPressPages.find((page) => page.slug === "portfolio");
---

<PrimaryLayout title={pageData?.seo?.title} description={pageData?.seo?.description} canonical="/portfolio/">
	<div class="flex flex-wrap justify-center">
		{
			portfolioCardsData.map((portfolioCard) => (
				<PortfolioCard
					portfolio={portfolioCard?.portfolio}
					description={portfolioCard?.description}
					link={portfolioCard?.link}
				/>
			))
		}
	</div>
</PrimaryLayout>
